@import url("assets/css/cabecalho.css");
@import url("assets/css/rodape.css");
@import url("assets/css/logo.css");
@import url("assets/css/chamada.css");
@import url("assets/css/formulario.css");
@import url("assets/css/logo-alternativo.css");

:root {
    --azul-fundo: #3772FF;
    --verde: #36D6AD;
    --branco: #FFFFFF;
    --cinza-fundo: #F6F6F6;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --vermelho: #FC7071;
    --sombra: #00000025;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-titulo: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-image: url(assets/img/Forma1.png);
    background-repeat: no-repeat;
}

.patas {
    background-image: url(assets/img/Patas.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

main {
    background-image: url(assets/img/Forma3.png);
    background-repeat: no-repeat;
    background-position: 0% 60%;
    background-size: 23.5%;
}