@import url("assets/css/background-index.css");
@import url("assets/css/cabecalho.css");
@import url("assets/css/rodape.css");
@import url("assets/css/logo.css");
@import url("assets/css/boas-vindas.css");
@import url("assets/css/botoes.css");
@import url("assets/css/ilustracao.css");


:root {
    --azul-fundo: #3772FF;
    --verde: #36D6AD;
    --branco: #FFFFFF;
    --vermelho: #FC7071;
    --sombra: #00000025;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-titulo: 'IBM Plex Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
} */

/* .container__pagina {
    position: relative;
    height: 100vh;
} */

/* body {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-fundo);
    font-family: var(--fonte-principal);
    background: url(assets/img/Forma2.png) no-repeat right 40%,
        url(assets/img/Forma1.png) no-repeat top left,
        var(--azul-fundo);
    background-size: 69px 415px, 352px 295px;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 134.45px 664px, 561px 470px;
    }

    main {
        margin-top: 8em;
    }
}

@media screen and (min-width: 1440px) {
    main {
        margin-top: 0;
    }
} */