.boas-vindas {
    color: var(--branco);
    text-align: center;
}

.boas-vindas__titulo {
    font-family: var(--fonte-titulo);
    font-weight: 500;
    font-size: 26px;
    margin: 1em 0;
}

.boas-vindas__texto {
    margin: 1em 3em;
    line-height: 1.5;
}