.logo__alternativo {
    text-align: center;
    margin-bottom: 1.5em;
    /* position: relative; */
}

.logo__alternativo-imagem {
    width: 39.45%;
    max-width: 252px;
    margin-bottom: 5.49px;
}